

* {
  margin: 0;
  padding: 0;
  
}
@media (max-width: 768px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      max-width: 100%;
      
    }

}
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  line-height: 1.6;
  margin: 0%;
  padding:0%;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




header {
  background-image: radial-gradient( circle 950px at 2.5% 8%,  rgba(44,103,176,1) 0%, rgba(35,56,136,1) 90% );
  background-blend-mode: multiply,multiply;
  padding: 30px 0; 
  width: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}



.spaced-header {
  letter-spacing: 5px; 
  text-transform: uppercase;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);       
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1 {
  color: rgb(255, 255, 255);
  margin: 0;
}
  
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s, border-bottom 0.3s;
  position: relative;
  padding-bottom: 5px;
  
}





@media screen and (max-width: 768px) and (min-width:100px)  {
  header {
      height: auto;
      background-size: contain;
      width: 100%;
  }

  header nav ul {
      flex-direction: column;
      align-items: center;
  }

  header nav ul li {
      margin: 10px 0; 
      
  }
}
body {
  overflow-x: hidden;
}


section {
  padding: 50px;
  background-color: white;
  margin: 5px auto;
  width: 80%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s;
}

section:hover {
  transform: scale(1.02);
}



.menu a:hover::after {
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}


.container {
position: relative;
display: flex;
flex-wrap: wrap;
height: 300px; 
right: 0%;
margin-top: 2%;
flex-grow: 1;
flex-basis: 200;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px; 
  width: 100%;
  height: auto;
  }
  @media only screen and (max-width: 600px) {
  }
  
  @media only screen and (min-width: 600px) and (max-width: 900px) {
  }
.container2 {
  position: relative;
  width: 100%;
  height: auto; 
  margin-top: 1%;
}   @media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
}

.section-title {
  position: absolute;
  top: 0;
  left: 15.3%;
  transform: translateX(-50%);
  font-size: 36px;
  font-weight: bold;
  color: #333;
}


footer {
  background-image: radial-gradient( circle 950px at 2.5% 8%,  rgba(44,103,176,1) 0%, rgba(35,56,136,1) 90% );
  background-blend-mode: multiply,multiply;
  position: relative; 
  margin-top: auto; 
  color: white;
  text-align: center;
  padding: 20px;
  height: 50%;
  width: 100%;
  z-index: 1;
  margin-top: 1%;
}

@media (max-width: 768px) {
  footer {
    background-image: radial-gradient( circle 950px at 2.5% 8%,  rgba(44,103,176,1) 0%, rgba(35,56,136,1) 90% );
  background-blend-mode: multiply,multiply;
  position: relative; 
  margin-top: auto; 
  color: white;
  text-align: center;
  padding: 20px;
  height: 50%;
  width: 105%;
  margin-bottom: auto;
  z-index: 1;

  }};

body {
  font-size: 16px;
}


@media (max-width: 768px) {
  body {
      font-size: 14px;
  }

  .menu {
      flex-direction: column; 
  }
}


img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-item {
  flex: 1 1 300px;
  margin: 10px;
}


.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
}

.socialIcons {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  margin-bottom: 20px; 
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 50%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.3s ease;
  width: 40px; 
  height: 40px; 
}

.socialIcons a i {
  font-size: 28px; 
  color: black;
  opacity: 0.8;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  background-color: #000000; 
}

.socialIcons a:hover i {
  color: white;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 20px 0;
}

.footerNav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  padding: 10px;
  text-align: center;
  width: 100%;
  background: none;
}

.footerBottom p {
  margin: 0;
  color: white;
  opacity: 0.7;
}

  .designer {
      opacity: 0.8;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0 5px;
     
  }


  @media (max-width: 700px) {
      .footerNav ul {
          flex-direction: column;
          align-items: center; 
          gap: 10px; 
         
      }

      .socialIcons a {
          padding: 8px;
      }
  }
  /* #scroll-container {
      border: 3px solid rgb(255, 255, 255);
      border-radius: 5px;
      overflow: hidden;
      transition: infinite;
    }
    
    #scroll-text {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -moz-animation: my-animation 15s linear infinite;
      -webkit-animation: my-animation 15s linear infinite;
      animation: my-animation 15s linear infinite;
    }
     */

    @-moz-keyframes my-animation {
      from { -moz-transform: translateX(100%); }
      to { -moz-transform: translateX(-100%); }
    }
    

    @-webkit-keyframes my-animation {
      from { -webkit-transform: translateX(100%); }
      to { -webkit-transform: translateX(-100%); }
    }
    
    @keyframes my-animation {
      from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px; 
      padding: 20px;
      background-color: transparent;
      margin-top: 5%;
  }
  .gallery-section {
      text-align: center;
      margin: 50px 0;
  }
  
  .gallery-title {
      font-size: 2rem;
      color: #333;
      margin-bottom: 0px;
  }
  
  .gallery-line {
      width: 80px;
      height: 3px;
      background-color: #333;
      margin: 0 auto 20px;
      border: none;
  }
  
  .gallery-item {
      position: relative;
      overflow: hidden;
      border-radius: 10px; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  }
  
  .gallery-item img {
      width: 100%; 
      height: 100%;
      object-fit: cover; 
      transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
      transform: scale(1.1);
  }
  
  .gallery-item .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease; 
      font-size: 18px;
      font-weight: bold;
      text-align: center;
  }
  
  .gallery-item:hover .overlay {
      opacity: 1; 
  }

  .welcome {
      text-align: center;
      padding: 60px;
      background: transparent
      
  }
  .welcome h1 {
      font-size: 2.5em;
      color: #333;
      
  }
  .welcome p {
      font-size: 1.2em;
      color: #555;
  }


.hamburger {
  display: none; 

  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}


@media (max-width: 768px) {
  .hamburger {
    display: flex;
  
  }
  .menu {
      position: absolute;
      z-index: 9999; 
      top: 0;
      left: 0;
      right: 20px;
      width: 100%;
      height: 53%;
      background-image: radial-gradient( circle 950px at 2.5% 8%,  rgb(255, 255, 255) 0%, rgba(35,56,136,1) 90% );
      backdrop-filter: blur(10px);
      opacity: 0;
      transform: scale(0.9); 
      pointer-events: none;
      transition: opacity 0.5s ease, transform 0.5s ease; 
      backdrop-filter: blur(15px); 
     
    }
    
    .menu.active {
      position: absolute;
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
      transform: translateY(100px)
    }
    


.menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}


  .menu.active {
    display: flex; 
  }
}
.parent{
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  grid-template-columns: minmax(100px,200px)
  1fr;
}
.btn-grad {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  -webkit-backdrop-filter: blur(10px);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 8px 45px;
  backdrop-filter: blur(100px);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

.btn-grad::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.03) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%);
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: background-position 1s ease;
}

.btn-grad:hover {
  background-position: right center;
  transform: scale(1.1);

  text-decoration: none;
}

.btn-grad:hover::after {
  background-position: 0 0;
}

/*projeler photo*/
.photo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.photo-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .photo-container {
        flex-direction: column;
        align-items: center;
    }
}
